@import './base.css';

@media not print {
  .print-only {
    display: none;
  }
}

@media print {
  .ant-notification,
  .ant-drawer {
    display: none;
  }
  .hide-print {
    display: none !important;
  }
  .ant-card-hoverable:hover {
    box-shadow: none !important;
  }
}

.ant-tour {
  max-width: calc(100vw - 20px);
}

.ant-tour-inner {
  border: 1px solid black !important;
  margin: 8px;
}
