@import './base.css';

.print-only {
  display: none;
}

@media print {
  .ant-notification,
  .ant-drawer {
    display: none;
  }
  .hide-print {
    display: none !important;
  }
  .print-only {
    display: unset;
  }
}
